textarea {
    min-height: 400px;
}

.btn {
    background-color: lightgrey;
    
}

.emailStyle {
    width: 100 px;
    border: 5px solid blue;
    padding: 5px;
    position: relative;
}

.emailStyle .email_address {
    font-weight: bold;
    font-size: 14px;
}

.emailStyle .subject {
    font-style: normal;
    font-size: 15px;
}

.emailStyle .body {
    font-style: italic;
    font-size: 14px;
}

.emailRead {
    background-color: rgb(240, 234, 234);
}